.list:hover {
  cursor: pointer;
}
body {
  background-image: url("./Assets/background.jpg");
  opacity: 1;
  height: 100%;
  background-size: cover;
  background-repeat: none;
  opacity: 0.8;
}

.App {
  text-align: center;
  padding: 5%;
}

.right-button {
  cursor: pointer;
  float: right;
}

.list-item {
  display: inline-block;
}
h1 {
  color: red;
}
